.App {
  display: grid;
  grid-template-areas:
      "header header"
      "display side"
      "footer footer";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  column-gap: 1%;
  color: #eee;
  background-color: #222;
  height: 100vh;
}

.App-header {
  grid-area: header;
}

.App-title {
  font-size: calc(14px + 1.5vmin);
  font-weight: 500;
}

.App-selected {
  color: #aaf;
}

.App-tabs {
  display: none;
}

.App-display {
  grid-area: display;
  padding: 1em;
  overflow: auto;
}

.App-side {
  grid-area: side;
  padding: 1em;
  overflow: auto;
}

.App-header {
  grid-area: header;
}

.App-footer {
  grid-area: footer;
  /* font-size: calc(10px + 2vmin); */
  padding: 1em;
}

.App-dark {
  background-color: #111;
}

.App-light {
  background-color: #333;
}

@media only screen and (max-width: 768px) {
  .App {
    grid-template-areas:
        "display"
        "side";
    grid-template-columns: 1fr;
    grid-template-rows: 89vh 89vh;
    column-gap: 0%;
  }

  .App-title {
    font-size: calc(16px + 2vmin);
  }

  .App-header {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    height: 7vh;
  }

  .App-tabs {
    grid-area: tabs;
    display: inherit;
  }

  /* .App-side {
    grid-area: display;
    display: none;
  } */

  .App-footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4vh;
  }
}
