.App {
  display: grid;
  grid-template-areas:
      "header header"
      "display side"
      "footer footer";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  column-gap: 1%;
  color: #eee;
  background-color: #222;
  height: 100vh;
}

.App-header {
  grid-area: header;
  /* font-size: calc(10px + 3vmin); */
  padding: 1em;
}

.App-display {
  grid-area: display;
  padding: 1em;
  overflow: auto;
}

.App-side {
  grid-area: side;
  padding: 1em;
  overflow: auto;
}

.App-header {
  grid-area: header;
}

.App-footer {
  grid-area: footer;
  /* font-size: calc(10px + 2vmin); */
  padding: 1em;
}

.App-dark {
  background-color: #111;
}

.App-light {
  background-color: #333;
}

@media only screen and (max-width: 768px) {
  .App-header {
    display: flex;
    justify-content: center;
  }

  .App {
    grid-template-areas:
        "header"
        "display"
        "side"
        "footer";
    grid-template-columns: 1fr;
    column-gap: 0%;
  }
}
