.Visualizer {
  display: flex;
  height: 100%;
}

.Visualizer-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0.2em;
  font-size: calc(10px + 0.5vmin);
  text-align: center;
  flex-grow: 1;
}

.Visualizer-space {
  flex-grow: 1;
}

.Visualizer-bar {
  background-color: #a7dac4;
  margin-bottom: 0.5em;
  transition: height 100ms ease-in;
}

.Visualizer-bar-set {
  background-color: #55aaff;
}

.Visualizer-bar-get {
  background-color: #66ffc4;
}
